Django==4.2.27
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.4.0
PyMySQL==1.1.1 # Replaced mysqlclient
dj-database-url==2.0.0
whitenoise==6.7.0
gunicorn==22.0.0
EOF